/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-alpha: #ECF7FF;
    --color-beta: #092844;

    --color-front: var(--color-beta);
    --color-back: var(--color-alpha);
    --color-front-dark: var(--color-alpha);
    --color-back-dark: var(--color-beta);
    --color-title: #042c66;

    --global-background: var(--color-back);
    --global-text-color: var(--color-front);

    --global-logo-fill: var(--color-front);
    --global-logo-stroke: var(--color-front);

    --global-color-error: #ff3333;
    --global-color-error-transparent: #FF3333bf;
    --global-color-error-x-transparent: #FF33334d;

    --global-color-title: #042c66;
    --global-color-title-dark: #b3d2ff;
    --global-color-subtitle: #184a94;
    --global-color-subtitle-dark: #7caff7;


    --global-color-alpha: #3385FF;
    --global-color-alpha-dark: #2E77E6;
    --global-color-alpha-transparent: #3385ffbf;
    --global-color-alpha-x-transparent: #3385ff4d;

    --global-color-neutral-xxxx-light: #F5F6FA;
    --global-color-neutral-xxx-light: #E2E3E7;
    --global-color-neutral-xx-light: #caccd4;
    --global-color-neutral-x-light: #b5b6c0;
    --global-color-neutral-xx-dark: #4b4c60;
    --global-color-neutral-xxxx-dark: #20223a;

    /* opacity */

    /* transitions */

    /* borders */
    --global-borderRadius: 3px;
    --global-borderWidth: 1px;

    /* transitions */
    --global-transitionTiming-alpha: .1s ease-out;
    --global-transitionEasing-out: ease-out;
    --global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
    --global-transitionDuration-alpha: .1s;
    --global-transitionDuration-beta: .2s;
    --global-transitionDuration-gamma: .3s;

    /* Baseline settings */
    --global-baseline: 8px;         
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

    /* forms */
    --global-label-color: var(--global-color-neutral-xx-dark);
    --global-placeholder-color: var(--global-color-neutral-x-light);
    --global-input-backgroundColor: White;
    --global-input-color: var(--global-color-neutral-xxxx-dark);
    --global-input-borderColor: var(--global-color-neutral-xxx-light);
    --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
    --global-input-focus-borderColor: var(--global-color-alpha);
    --global-input-error-borderColor: var(--global-color-error);
    --global-input-focus-boxShadowSpread: 0 0 0 3px;
    --global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
    --global-input-error-boxShadowColor: var(--global-color-error-x-transparent);
}

/* [data-theme="dark"] {
    --color-front: var(--color-alpha);
    --color-back: var(--color-beta);
} */

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    /* POSITIONING */

    /* BOX MODEL */
    box-sizing: border-box;

    /* FONT */
    color: var(--global-text-color);
    font-size: 16px; /* font-size op de body = 1REM */
    line-height: 1.5;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    font-feature-settings: "zero" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* APPEARANCE */
    background-color: #ECF7FF;

    /* OTHER */
    
}

/* html[is-night] {
    background-color: var(--color-back-dark);
    color: var(--color-front-dark);
    --global-logo-fill: var(--color-front-dark);
    --global-logo-stroke: var(--color-front-dark);
    --global-color-title: var(var(--global-color-title-dark))
} */

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: blue;
    color: white;
    text-shadow: none;
}

::selection {
    background: blue;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: blue;
    outline-color: blue;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: blue;
}

a:hover,
a:focus {
    color: blue;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/


/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: calc(8 * var(--global-baseline)) calc(8 * var(--global-baseline)) 0;
}

.o-row--login {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* size modifiers */

.o-row--lg {
    padding-top: var(--global-whitespace-xl);
    padding-bottom: var(--global-whitespace);
}

.o-row--xl {
    padding-top: var(--global-whitespace-xxl);
    padding-bottom: var(--global-whitespace-xl);
}

@media (min-width: 768px) {
    .o-row {
        padding-left: var(--global-whitespace-xl);
        padding-right: var(--global-whitespace-xl);
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: var(--global-whitespace-xxl);
    }
}


/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: inherit;
    max-width: 43.75rem; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/


.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.o-section {
    position: relative;
    min-width: 400px;
}

.o-section + .o-section {
    padding-top: var(--global-whitespace);
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        padding-top: var(--global-whitespace-xl);
    }
}

@media (min-width: 992px) {
    .o-section--xl + .o-section--xl {
        padding-top: var(--global-whitespace-xxl);
    }
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    display: flex;
    padding-top: 2rem;
    position: sticky;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1rem;
}

/*
    Component: horloge
    ---
    The horloge
*/

.c-horloge__logo {
    height: 2rem;
    width: 2rem;
}

.c-logo .c-horloge__logo {
    margin-right: 0.5rem;
}

.c-horloge {
    height: 25rem;
    width: 25rem;
}

.c-line {
    stroke: var(--global-logo-stroke);
}

.c-path {
    fill: var(--global-logo-fill)
}

.c-ellipse {
    stroke: var(--global-logo-stroke);
}

.c-text {
    fill: var(--global-logo-fill);
}

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2 * 1rem);
    box-sizing: content-box; /* Paddig optellen bij de (max)width ipv. het toevoegen aan de binnenkant */
    max-width: 25rem; /* Is dit slim...? */
    margin: 0 auto;
    padding: 0 2rem 2rem 2rem; /* 32px 32px (in onze huidige font-size) */
}

.c-app__summary {
    font-size: 1.75rem;
    line-height: 2.5rem;
}

.c-title {
    color: var(--global-color-title);
    margin: auto;
    padding: 20px 0 16px 0;
    text-align: center;
    font-size: 2rem;
}

.c-timezone {
    font-size: 1.5rem;
    color: var(--global-color-subtitle);
    text-align: center;
}

.c-hour {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

/* .c-canvas {
    width: 200px;
    height: 200px;
}

@media (min-width: 481px) {
	.c-canvas {
		width: 400px;
        height: 400px;
	}
} */

/*
    Component: clock
    ---
    clock with sun visualisation
*/

.c-clock {
    margin-top: auto; /* Vul de ruimte maar op */ 
}

.c-clock__hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2.5rem;

    font-size: 0.75rem;
    line-height: 0.875rem;

    transform: translateY(50%); /* 22px : percentage van maken */
}
.c-clock__hour::before {
    content: attr(data-time);
    margin-bottom: 0.5rem;
}

.c-form-field {
    position: relative;
}

.c-form-field--option {
    display: flex;
    align-items: center;
}

.c-custom-select {
    display: block;
    position: relative;
}

.c-custom-select__symbol {
    width: var(--global-whitespace);
    height: var(--global-whitespace);
    position: absolute;
    top: calc(var(--global-whitespace) / 2);
    right: calc(var(--global-whitespace) / 2);
    pointer-events: none;
    fill: var(--color-front);
}

.dark .c-custom-select__symbol {
    fill: var(--color-front-dark);
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
    --input-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: var(--input-borderRadius, var(--global-borderRadius));
    border: var(--input-borderWidth, var(--global-borderWidth)) solid var(--input-borderColor, var(--global-input-borderColor));
    background-color: transparent;
    color: var(--global-input-color);
    font-family: inherit;
    font-size: 16px;
    line-height: calc(var(--global-baseline) * 3);
    padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
    outline: none;
    transition: var(--input-transition);
}

.c-input:hover {
    border-color: var(--input-hover-borderColor, var(--global-input-hover-borderColor));
}

.c-input:focus,
.c-input:active {
    border-color: var(--input-focus-borderColor, var(--global-input-focus-borderColor));
    box-shadow: var(--global-input-focus-boxShadowSpread) var(--input-focus-boxShadowColor, var(--global-input-focus-boxShadowColor));
}

/*
Input password with toggle checkbox on top of it needs
more padding on the right to avoid overlap
*/

/* .c-input--password-with-toggle {
    padding-right: 52px;
} */

/* input password with floating label */
/* 
.c-input--with-floating-label:focus {
    box-shadow: 0 0 0 1px var(--global-input-focus-borderColor);
} */

.c-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.c-verticalline {
    border-right: 1px solid var(--color-front);
}

.dark .c-verticalline {
    border-right: 1px solid var(--color-front-dark);
}

.c-grid__item {
    text-align: center;
    padding: var(--global-whitespace-lg);
}

.c-time {
    font-size: 0.8rem;
    margin-top: var(--global-whitespace-xs);
    /* text-align: right; */
}

.u-column-span-6 {
    grid-column: span 6;
}


/* option input for checkboxes and radio buttons */

.c-option {
    margin-right: var(--global-whitespace-sm);
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
    margin-bottom: 0;
    font-size: 1rem;
    padding-bottom: var(--global-whitespace-sm); 
    padding-top: var(--global-whitespace-lg);   
    line-height: calc(var(--global-baseline) * 2);
    color: var(--color-front);
}

.dark .c-label {
    color: var(--color-front-dark);
}

.c-label__toggle {
    margin-bottom: 0;
    font-size: 1rem;
    padding-bottom: var(--global-whitespace-sm); 
    padding-top: var(--global-whitespace-lg);   
    line-height: calc(var(--global-baseline) * 2);
    color: var(--color-front);
    padding-left: var(--global-whitespace-xl);
}

.dark .c-label__toggle {
    color: var(--color-front-dark);
}

.c-label--option {
    padding-bottom: 0;
}

.c-label__error-message {
    font-weight: 600;
	float: right;
	display: none;
}

.c-label__error-message.is-visible {
	display: block;
}

.c-label--floating {
    position: absolute;
    top: calc(var(--global-baseline) * 1.5);
    left: var(--global-whitespace-sm);
    padding: var(--global-whitespace-xs)  var(--global-whitespace-sm);
    background-color: transparent;
    transition: transform var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
    z-index: 1;
    border-radius: var(--global-borderRadius);
}

.is-floating,
.c-form-field:focus-within .c-label--floating {
    transform: translateY(calc(var(--global-baseline) * -3))
}

/*
    Component: Custom Toggle
    ---
    Visually change a checkbox into a toggle
*/

.c-custom-toggle-list {
    --toggle-list-borderColor: var(--global-color-neutral-xxx-light);
    margin-bottom: 24px;
}

.c-custom-toggle-list__item {
    margin-bottom: 12px;
}

.c-custom-toggle-list__item + .c-custom-toggle-list__item {
    padding-top: 12px;
    border-top: 1px solid var(--toggle-list-borderColor);
}

.c-custom-toggle {
    --toggle-backgroundColor: var(--global-color-neutral-xxxx-light);
    --toggle-borderColor: var(--global-input-borderColor);
    --toggle-focus-borderColor: var(--global-input-focus-borderColor);
    --toggle-checked-borderColor: var(--global-color-alpha-dark);
    --toggle-checked-backgroundColor: var(--global-color-alpha);
    --toggle-focus-boxShadow: var(--global-input-focus-boxShadowSpread) var(--global-input-focus-boxShadowColor);
    --toggle-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
    --toggle__switch-backgroundColor: White;
    --toggle__switch-checked-backgroundColor: White;
    --toggle__switch-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
    display: flex;
    align-items: center;
}

.c-custom-toggle--inverted {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.c-custom-toggle__fake-input {
    display: block;
    height: 24px;
    width: 48px;
    margin-left: var(--global-whitespace-sm);
    background-color: var(--toggle-backgroundColor);
    border-radius: 32px;
    border: 1px solid var(--toggle-borderColor);
    transition: var(--toggle-transition);
    box-shadow: var(--toggle-boxShadow, 0);
}

.c-custom-toggle--inverted .c-custom-toggle__fake-input {
    margin-right: 0;
}

.c-custom-toggle__fake-input::after {
    position: relative;
    display: block;
    content: '';
    height: 22px;
    width: 22px;
    border-radius: 22px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
    background-color: var(--toggle__switch-backgroundColor);
    transition: var(--toggle__switch-transition);
}

/* focused and active state */

.c-option--hidden:focus + .c-custom-toggle,
.c-option--hidden:active + .c-custom-toggle {
    --toggle-borderColor: var(--toggle-focus-borderColor);
    --toggle-boxShadow: var(--toggle-focus-boxShadow);
}

/* checked state */

.c-option--hidden:checked + .c-custom-toggle {
    --toggle-backgroundColor: var(--toggle-checked-backgroundColor);
    --toggle-borderColor: var(--toggle-checked-borderColor);
    --toggle__switch-backgroundColor: var(--toggle__switch-checked-backgroundColor);
}

.c-option--hidden:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
    transform: translate(24px,0);
}

/* special active state */

.c-option--hidden:active + .c-custom-toggle .c-custom-toggle__fake-input::after {
    width: 28px;
}

.c-option--hidden:active:checked + .c-custom-toggle .c-custom-toggle__fake-input::after {
    margin-left: -6px;
}



/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

.u-muted {
    opacity: var(--global-muted-opacity);
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */
/* .is-night {
    background-color: var(--color-back-dark);
    color: var(--color-front-dark);
    --global-logo-fill: var(--color-front-dark);
    --global-logo-stroke: var(--color-front-dark);
    --global-color-title: var(var(--global-color-title-dark))
} */

.animation-list {
    margin: 0 auto;
}

.night-light-label #night-light-checkbox {
    position: absolute;
    visibility: hidden;
}

.night-light-label {
    display: block;
    margin: 20px 0;
    height: 31px;
    width: 60px;
    border: 2px solid #4672fe;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    text-align: right;
}

.night-light-label .night-light-ball {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 2.5px;
    left: 2px;
    border-radius: 50%;
    background: #4672fe;
    z-index: 99;
    transition: 300ms;
}

.night-light-label #night-light-checkbox:checked + .night-light-ball {
    transform: translateX(28px);
}

.moon-svg,
.sun-svg {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.moon-svg {
    right: 5px;  
}

.sun-svg {
    left: 5px;
}

.dark #moon-svg,
.dark #sun-svg {
    fill: #e0e0e0 !important;
}

.dark {
    background-color: var(--color-back-dark);
    color: var(--color-front-dark);
    --global-logo-fill: var(--color-front-dark);
    --global-logo-stroke: var(--color-front-dark);
    --global-color-title: var(--global-color-title-dark);
    --global-color-subtitle: var(--global-color-subtitle-dark);
}


/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--global-color-neutral);
}

.u-color-neutral-dark {
    color: var(--global-color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto !important;
}

.u-1-of-2 {
    width: 50% !important;
}

.u-1-of-3 {
    width: 33.3333333333% !important;
}

.u-2-of-3 {
    width: 66.6666666667% !important;
}

.u-1-of-4 {
    width: 25% !important;
}

.u-3-of-4 {
    width: 75% !important;
}

.u-1-of-5 {
    width: 20% !important;
}

.u-2-of-5 {
    width: 40% !important;
}

.u-3-of-5 {
    width: 60% !important;
}

.u-4-of-5 {
    width: 80% !important;
}

.u-1-of-6 {
    width: 16.6666666667% !important;
}

.u-5-of-6 {
    width: 83.3333333333% !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        width: 50% !important;
    }
    .u-1-of-3-bp1 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp1 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp1 {
        width: 25% !important;
    }
    .u-3-of-4-bp1 {
        width: 75% !important;
    }
    .u-1-of-5-bp1 {
        width: 20% !important;
    }
    .u-2-of-5-bp1 {
        width: 40% !important;
    }
    .u-3-of-5-bp1 {
        width: 60% !important;
    }
    .u-4-of-5-bp1 {
        width: 80% !important;
    }
    .u-1-of-6-bp1 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp1 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        width: 50% !important;
    }
    .u-1-of-3-bp2 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp2 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp2 {
        width: 25% !important;
    }
    .u-3-of-4-bp2 {
        width: 75% !important;
    }
    .u-1-of-5-bp2 {
        width: 20% !important;
    }
    .u-2-of-5-bp2 {
        width: 40% !important;
    }
    .u-3-of-5-bp2 {
        width: 60% !important;
    }
    .u-4-of-5-bp2 {
        width: 80% !important;
    }
    .u-1-of-6-bp2 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp2 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        width: 50% !important;
    }
    .u-1-of-3-bp3 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp3 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp3 {
        width: 25% !important;
    }
    .u-3-of-4-bp3 {
        width: 75% !important;
    }
    .u-1-of-5-bp3 {
        width: 20% !important;
    }
    .u-2-of-5-bp3 {
        width: 40% !important;
    }
    .u-3-of-5-bp3 {
        width: 60% !important;
    }
    .u-4-of-5-bp3 {
        width: 80% !important;
    }
    .u-1-of-6-bp3 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp3 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        width: 50% !important;
    }
    .u-1-of-3-bp4 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp4 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp4 {
        width: 25% !important;
    }
    .u-3-of-4-bp4 {
        width: 75% !important;
    }
    .u-1-of-5-bp4 {
        width: 20% !important;
    }
    .u-2-of-5-bp4 {
        width: 40% !important;
    }
    .u-3-of-5-bp4 {
        width: 60% !important;
    }
    .u-4-of-5-bp4 {
        width: 80% !important;
    }
    .u-1-of-6-bp4 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp4 {
        width: 83.3333333333% !important;
    }
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}