/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-alpha: #ECF7FF;
    --color-beta: #092844;

    --color-front: var(--color-beta);
    --color-back: var(--color-alpha);

    --global-background: var(--color-back);
    --global-text-color: var(--color-front);

    --global-logo-fill: var(--color-front);
    --global-logo-stroke: var(--color-front);
    --global-border-color: var(--color-front);

    --global-input-borderColor: var(--color-front);
    --global-input-backgroundColor: var(--color-back);
    --global-input-color: var(--color-back);
    --global-logo-fill: var(--color-front);
    --global-logo-stroke: var(--color-front);
    --global-border-color: var(--color-front);
    --global-input-hover-borderColor: var(--color-front);

    --global-color-error: #ff3333;
    --global-color-error-transparent: #FF3333bf;
    --global-color-error-x-transparent: #FF33334d;



    --global-color-alpha: #3385FF;
    --global-color-alpha-dark: #2E77E6;

    --global-color-neutral-xxxx-light: #F5F6FA;
    --global-color-neutral-xxx-light: #E2E3E7;

    /* opacity */

    /* transitions */
    --global-transitionEasing-out: ease-out;
    --global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
    --global-transitionDuration-alpha: .1s;
    --global-transitionDuration-beta: .2s;
    --global-transitionDuration-gamma: .3s;


    /* borders */
    --global-borderRadius: 3px;
    --global-borderWidth: 1px;

    /* transitions */

    /* Baseline settings */
    --global-baseline: 8px;         
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

    /* forms */
    --global-placeholder-color: var(--global-color-neutral-x-light);
    --global-input-backgroundColor: White;
    --global-input-color: var(--global-color-neutral-xxxx-dark);
    --global-input-borderColor: var(--global-color-neutral-xxx-light);
    --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
    --global-input-focus-borderColor: var(--global-color-alpha);
    --global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
    --global-input-focus-boxShadow: 0 0 0 3px var(--global-input-focus-boxShadowColor);



    /* Global colors */
    --global-color-alpha-light: #4F95FF;
    --global-color-alpha: #3385FF;
    --global-color-alpha-dark: #2E77E6;
    --global-color-alpha-x-dark: #1B4186;
    --global-color-alpha-transparent: #3385ffbf;
    --global-color-alpha-x-transparent: #3385ff4d;

    --global-color-neutral-xxxx-light: #F5F6FA;
    --global-color-neutral-xxx-light: #E2E3E7;
    --global-color-neutral-xx-light: #caccd4;
    --global-color-neutral-x-light: #b5b6c0;
    --global-color-neutral-light: #a0a1ad;
    --global-color-neutral: #8b8c9a;
    --global-color-neutral-dark: #757787;
    --global-color-neutral-x-dark: #606274;
    --global-color-neutral-xx-dark: #4b4c60;
    --global-color-neutral-xxx-dark: #35374d;
    --global-color-neutral-xxxx-dark: #20223a;
    --global-color-error: #FF3333;
    --global-color-error-transparent: #FF3333bf;
    --global-color-error-x-transparent: #FF33334d;

    /* global page settings */
    --global-page-color: var(--global-color-neutral-xxxx-dark);
    --global-page-backgroundColor: var(--global-color-neutral-xxxx-light);
    --global-selection-backgroundColor: var(--global-color-alpha);

    /* border radius */
    --global-borderRadius: 3px;
    --global-borderWidth: 1px;

    /* transitions */
    --global-transitionEasing-out: ease-out;
    --global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
    --global-transitionDuration-alpha: .1s;
    --global-transitionDuration-beta: .2s;
    --global-transitionDuration-gamma: .3s;


     /* Baseline settings */
    --global-baseline: 8px;         
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) * .5); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

    /* forms */
    --global-label-color: var(--global-color-neutral-xx-dark);
    --global-placeholder-color: var(--global-color-neutral-x-light);
    --global-input-backgroundColor: White;
    --global-input-color: var(--global-color-neutral-xxxx-dark);
    --global-input-borderColor: var(--global-color-neutral-xxx-light);
    --global-input-hover-borderColor: var(--global-color-neutral-xx-light);
    --global-input-focus-borderColor: var(--global-color-alpha);
    --global-input-error-borderColor: var(--global-color-error);
    --global-input-focus-boxShadowSpread: 0 0 0 3px;
    --global-input-focus-boxShadowColor: var(--global-color-alpha-x-transparent);
    --global-input-error-boxShadowColor: var(--global-color-error-x-transparent);
}

/* @media (prefer-color-scheme) */

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    /* POSITIONING */

    /* BOX MODEL */
    box-sizing: border-box;

    /* FONT */
    color: var(--global-text-color);
    font-size: 16px; /* font-size op de body = 1REM */
    line-height: 1.5;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    font-feature-settings: "zero" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* APPEARANCE */
    background-color: var(--color-back);

    /* OTHER */
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: blue;
    color: white;
    text-shadow: none;
}

::selection {
    background: blue;
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: blue;
    outline-color: blue;
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: blue;
}

a:hover,
a:focus {
    color: blue;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/


/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: calc(8 * var(--global-baseline)) calc(8 * var(--global-baseline)) 0;
}

.o-row--login {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* size modifiers */

.o-row--lg {
    padding-top: var(--global-whitespace-xl);
    padding-bottom: var(--global-whitespace);
}

.o-row--xl {
    padding-top: var(--global-whitespace-xxl);
    padding-bottom: var(--global-whitespace-xl);
}

@media (min-width: 768px) {
    .o-row {
        padding-left: var(--global-whitespace-xl);
        padding-right: var(--global-whitespace-xl);
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: var(--global-whitespace-xxl);
    }
}


/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: inherit;
    max-width: 43.75rem; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/


.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.o-section {
    position: relative;
    min-width: 400px;
}

.o-section + .o-section {
    padding-top: var(--global-whitespace);
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        padding-top: var(--global-whitespace-xl);
    }
}

@media (min-width: 992px) {
    .o-section--xl + .o-section--xl {
        padding-top: var(--global-whitespace-xxl);
    }
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    height: var(--global-whitespace);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--global-whitespace-lg);
}

.c-logo__symbol {
    height: 100%;
}

/*
    Component: Card
    ---
    Card with box shadow
*/

.c-card {
    --card-borderRadius: var(--global-borderRadius);
    background-color: var(--card-backgroundColor, White);
    margin-bottom: var(--global-whitespace);
    margin-right: auto;
    border-radius: var(--card-borderRadius, var(--global-borderRadius));
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.05), 0 2px 4px rgba(0,0,0,.075);
    overflow: hidden;
}


.c-card__title {
    text-align: center;
    font-size: 24px;
    line-height: calc(var(--global-baseline) * 3);
    font-weight: 600;
}

.c-card__undertitle {
    text-align: center;
    font-size: 24px;
    line-height: calc(var(--global-baseline) * 3);
    font-weight: 400;
}

.c-card__text {
    text-align: center;
    font-size: 18px;
    line-height: calc(var(--global-baseline) * 3);
    font-weight: 400;
}

/* This allows c-card__body and __footer to have equal padding everywhere */

.c-card__body > *:last-child,
.c-card__footer > *:last-child,
.c-card__body > *:last-child > *:last-child,
.c-card__footer > *:last-child > *:last-child {
    margin-bottom: 0;
}

@media (min-width: 27em) {
    .c-card__body {
        padding: var(--global-whitespace-xl);
    }

    .c-card__title {
        margin-bottom: var(--global-whitespace-xl);
    }
}

/*
    Component: Forms
    ---
    Everything form related here
*/

.c-form-field {
    position: relative;
}

.c-form-field--option {
    display: flex;
    align-items: center;
}

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
    --input-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border-radius: var(--global-borderRadius);
    border: var(--global-borderWidth) solid  var(--global-input-borderColor);
    background-color: var(--global-input-backgroundColor);
    color: var(--global-input-color);
    font-family: inherit;
    font-size: 16px;
    line-height: calc(var(--global-baseline) * 3);
    padding: calc(var(--global-baseline) * 1.5 - var(--global-borderWidth)) var(--global-whitespace-md);
    outline: none;
    transition: var(--input-transition);
}

.c-input:hover {
    border-color: var(--global-input-hover-borderColor);
}

.c-input:focus,
.c-input:active {
    border-color: var(--global-input-focus-borderColor);
    box-shadow: var(--global-input-focus-boxShadowSpread) var(--input-focus-boxShadowColor, var(--global-input-focus-boxShadowColor));
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

.c-label {
    margin-bottom: 0;
    font-size: 14px;
    padding-bottom: var(--global-whitespace-sm);    
    line-height: calc(var(--global-baseline) * 2);
    color: var(--label-color, var(--global-label-color));
}

.c-label--option {
    padding-bottom: 0;
}

.c-label__error-message {
    font-weight: 600;
	float: right;
	display: none;
}

.c-label__error-message.is-visible {
	display: block;
}

.c-label--floating {
    position: absolute;
    top: calc(var(--global-baseline) * 1.5);
    left: var(--global-whitespace-sm);
    padding: var(--global-whitespace-xs)  var(--global-whitespace-sm);
    background-color: var(--label--floating-backgroundColor, var(--global-input-backgroundColor));
    transition: transform var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
    z-index: 1;
    border-radius: var(--global-borderRadius);
}

.is-floating,
.c-form-field:focus-within .c-label--floating {
    transform: translateY(calc(var(--global-baseline) * -3))
}

/*
    Component: Button
    ---
    Class to put on form buttons or
*/

.c-button {
    font-size: 16px;
    font-weight: 600;
    border-radius: var(--button-borderRadius, var(--global-borderRadius));
    border: var(--button-borderWidth, var(--global-borderWidth)) solid var(--button-borderColor, var(--global-color-alpha-dark));
    background-color: var(--button-backgroundColor, var(--global-color-alpha));
    color: #fff;
    padding: calc(var(--global-baseline) * 1.5 - var(--button-borderWidth, var(--global-borderWidth))) var(--global-whitespace-md);
    line-height: calc(var(--global-baseline) * 3);
    width: 100%;
    outline: none;
    box-shadow: var(--button-boxShadow, 0);
    transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
}

.c-button:hover {
    border-color: var(--button-hover-borderColor, var(--global-color-alpha-dark));
    background-color: var(--button-hover-backgroundColor, var(--global-color-alpha-light));
}

.c-button:focus {
    background-color: var(--button-focus-backgroundColor, var(--global-color-alpha));
    border-color: var(--button-focus-borderColor, var(--global-color-alpha-dark));
    box-shadow: var(--global-input-focus-boxShadowSpread) var(--button-focus-boxShadowColor, var(--global-input-focus-boxShadowColor));
}

.c-button:active {
    background-color: var(--button-active-backgroundColor, var(--global-color-alpha-dark));
    border-color: var(--button-active-borderColor, var(--global-color-alpha-dark));
    box-shadow: var(--button-active-boxShadow, 0);
}

.c-image {
    display: block;
    margin-left: auto;
    width: 16.875rem;
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

.has-error {
    --label-color: var(--global-color-error);
    --input-borderColor: var(--global-input-error-borderColor);
    --input-hover-borderColor: var(--global-input-error-borderColor);
    --input-focus-borderColor: var(--global-input-error-borderColor);
    --input-focus-boxShadowColor: var(--global-input-error-boxShadowColor);
}

/*
    Utilities: Mute
    Mute with opacity
*/

.u-muted {
    opacity: var(--global-muted-opacity);
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--global-color-neutral);
}

.u-color-neutral-dark {
    color: var(--global-color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto !important;
}

.u-1-of-2 {
    width: 50% !important;
}

.u-1-of-3 {
    width: 33.3333333333% !important;
}

.u-2-of-3 {
    width: 66.6666666667% !important;
}

.u-1-of-4 {
    width: 25% !important;
}

.u-3-of-4 {
    width: 75% !important;
}

.u-1-of-5 {
    width: 20% !important;
}

.u-2-of-5 {
    width: 40% !important;
}

.u-3-of-5 {
    width: 60% !important;
}

.u-4-of-5 {
    width: 80% !important;
}

.u-1-of-6 {
    width: 16.6666666667% !important;
}

.u-5-of-6 {
    width: 83.3333333333% !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        width: 50% !important;
    }
    .u-1-of-3-bp1 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp1 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp1 {
        width: 25% !important;
    }
    .u-3-of-4-bp1 {
        width: 75% !important;
    }
    .u-1-of-5-bp1 {
        width: 20% !important;
    }
    .u-2-of-5-bp1 {
        width: 40% !important;
    }
    .u-3-of-5-bp1 {
        width: 60% !important;
    }
    .u-4-of-5-bp1 {
        width: 80% !important;
    }
    .u-1-of-6-bp1 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp1 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        width: 50% !important;
    }
    .u-1-of-3-bp2 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp2 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp2 {
        width: 25% !important;
    }
    .u-3-of-4-bp2 {
        width: 75% !important;
    }
    .u-1-of-5-bp2 {
        width: 20% !important;
    }
    .u-2-of-5-bp2 {
        width: 40% !important;
    }
    .u-3-of-5-bp2 {
        width: 60% !important;
    }
    .u-4-of-5-bp2 {
        width: 80% !important;
    }
    .u-1-of-6-bp2 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp2 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        width: 50% !important;
    }
    .u-1-of-3-bp3 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp3 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp3 {
        width: 25% !important;
    }
    .u-3-of-4-bp3 {
        width: 75% !important;
    }
    .u-1-of-5-bp3 {
        width: 20% !important;
    }
    .u-2-of-5-bp3 {
        width: 40% !important;
    }
    .u-3-of-5-bp3 {
        width: 60% !important;
    }
    .u-4-of-5-bp3 {
        width: 80% !important;
    }
    .u-1-of-6-bp3 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp3 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        width: 50% !important;
    }
    .u-1-of-3-bp4 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp4 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp4 {
        width: 25% !important;
    }
    .u-3-of-4-bp4 {
        width: 75% !important;
    }
    .u-1-of-5-bp4 {
        width: 20% !important;
    }
    .u-2-of-5-bp4 {
        width: 40% !important;
    }
    .u-3-of-5-bp4 {
        width: 60% !important;
    }
    .u-4-of-5-bp4 {
        width: 80% !important;
    }
    .u-1-of-6-bp4 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp4 {
        width: 83.3333333333% !important;
    }
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}